body {
  /* background-color: #0d2b2b; */
  color: rgb(255, 208, 145);
  text-decoration: none;
  font-family: sans-serif;
  opacity: 0.9;
  background:
       /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://www.wallpapereast.com/static/images/monotype-art-pattern-leaves-colored-autumn-hd-wallpaper.jpg);
}

.container {
  display: flex;
}

.navbar {
  background-color: #fff6f6;
  display: flex;
  flex-direction: column;
  height: 180vh;
  margin: 0px 10px 0px -10px;
  padding: 15px;
  color: #f9941c;
}

.profilepic .pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  padding: 10px 60px 10px 10px;
  background-color: #fff6f6;
  margin: -10px;
  cursor: pointer;
}

.pic {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.x-close {
  cursor: pointer;
}

.chat-messages-container {
  border: 3px solid #f9941cb0;
  height: 300px;
  width: 480px;
  overflow-y: scroll;
  color: white;
}

.chat-textarea {
  resize: none;
  background-color: rgba(64, 64, 64, 0.52);
  height: 100px;
  width: 480px;
  outline: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.bio-textarea {
  resize: none;
  background-color: rgba(64, 64, 64, 0.52);
  height: 100px;
  width: 243px;
  outline: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.register-input {
  width: 15%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid rgb(255, 95, 22);
  background-color: #0d2b2b00;
  color: #fee9d7;
  margin: 0px 2px;
  font-size: 16px;
  opacity: 1;
  outline: none;
}

.all-inputs {
  display: flex;
  flex-direction: column;
  /* flex-flow: column; */
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.logo {
  padding-left: 521px;
  height: 15%;
  width: 15%;
}

::placeholder {
  color: #fee9d7;
  opacity: 1; /* Firefox */
}

.register-button,
.register-link {
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 4px;
  cursor: pointer;
}

.register-button {
  background-color: rgb(255, 95, 22);
  margin: 10px;
}

.register-link {
  background-color: rgba(52, 34, 46, 0.85);
}

.uploadimg {
  background-color: rgba(190, 200, 199, 0.73);
  width: 30vw;
  height: 14vw;
  position: absolute;
  top: 5%;
  left: 34%;
  text-align: center;
  color: rgb(217, 36, 57);
}

.welcome {
  display: inline;
}

.bio {
  color: #fff6f6;
}

.logo-nav {
  height: 76px;
  padding: 11px 11px 0px 4px;
  width: 71px;
}
