/* jobs page */
.allJobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jobData {
    width: 400px;
    background-color: #ADFF2F;
    border-style: solid;
    margin: 10px;
    font-size: 40px;
    padding: 20px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.filtersbutton {
    display: inline-block;
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
    margin-top: 80px;
}

.filters {
    /* margin: 50px; */
    display: flex;
}

.filter {
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin: 12px;
}

#createJob {
    height: 100%;
    width: 300px;
    font-size: 30px;
    margin-left: 120px;

}

.busca {
    color: black;
    font-size: 40px;
    font-style: italic;
}

/* job details page */
.jobDetails {
    background-color: #ADFF2F;
    margin: 50px;
    padding: 20px;
    margin-top: 200px;
}

.jobDetails p {
    font-size: 10px;
}

.btn {
    background-color: DodgerBlue;
  border: none;
  color: white;
  padding-right: 20px;
  font-size: 76px;
  cursor: pointer;
}

/* job form */
.formQuestions {
    font-size: 40px;
}

.formInputs {
    font-size: 50px;
    width: 60%;
    height: 60%;
    margin-bottom: 35px;
    border-style: solid;
border-width: medium;
}

.jobForm {
    margin: 40px;
    padding: 20px;
}

.radio {
    width: 3em; height: 3em;
    margin-right: 25px;
    margin-bottom: 30px;
}

#listo {
    width: 50%;
    height: 100px;
    font-size: 50px;
}

/* confirm page */
.jobConfirmPage {
    margin: 40px;
    padding: 20px;

}

.confirmButton {
    width: 300px;
    height: 100px;
    font-size: 50px;
    margin: 30px;
}

.confirmButtons {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.confirmText {
    font-size: 45px;
    margin-top: 50px;
}

td {
    padding: 15px;
}

.confirmTitle {
    margin-bottom: 100px;
    font-size: 45px;
}

.modal {
  transform: translate(-50%,-50%);
  position:fixed;
  background: DodgerBlue;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  }

  .jobMoment {
      font-size: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-style: oblique;
  }
